.brand-card

  &__header
    &:before,
    &:after
      display table
      content ''

    &:after
      clear both
  
  .right-btn
    padding 0 !important
    line-height 20px
    float right
  
  .ml60
    margin-left 60px !important
