.brand-manage
  .w194
    width 194px
  .img-uploader
    .el-upload
      border 1px dashed $color-grey3
      border-radius 6px
      cursor pointer
      position relative
      overflow hidden

      &:hover
        border-color $color-green1
    
    &__img
      width 160px
      height 160px
      display block

    &__icon
      font-size 28px
      color $color-grey2
      width 160px
      height 160px
      line-height 160px
      text-align center
  
  .edit-brand
    .el-dialog
      min-width 420px