.new-task-details
  .borcol
    border 1px solid #666666
  .printro
    padding 140px 120px 70px
    width 2480px
    height 3508px
    background-color #FFFFFF
  .fir
    font-size 32px
  .foot-print
    position absolute
    bottom 115px
    width 100%
    padding-right 60px
  .pr250
    padding-right 300px
  .sec-t
    font-size 46px
    padding-left 30px
    font-weight bold
  .other
    word-wrap break-word
  .h250
    height 250
  .sec-c
    font-size 32px
    color $color-grey2
    text-align right
  .row-fo
    border-left 3px solid #000000
  .row-th
    border-top 3px solid #000000
  .row-ff
    border-bottom 3px solid #000000
  .row-sec
    border-bottom 3px solid #e4e4e4
  .tablecs
    border-top 3px solid #000000
    border-bottom 3px solid #000000
    height 750px
  .h479
    height 743px
  .advicecs
    height 800px
  .brandcs
    height 890px
  .colcs
    border-right 3px solid #000000
  .jian
    font-size 52px
    color #666666
  .shi
    font-size 40px
    font-weight bold
  .gu
    font-size 12px
    font-weight bold
  .ti
    font-size 32px
    font-weight bold
    padding-top 20px
  .ftc
    font-size 30px
    color #333333
    padding-top 5px
  .tu
    font-size 32px
    color #ffffff
    background-color #333333
    border-radius 30px
    text-align center
    width: 60px;
    height: 60px;
    padding-top: 10px;
  .concs
    padding 35px
    border-bottom 3px dashed #E4E4E4
    &:last-child
      border-bottom none
  .rowcc
    display flex
    align-items center
  .po
    width 12px
    height 12px
    border-radius 6px
    background-color #333333
  .bor
    border-right 3px dashed #E4E4E4
  .goodstable
    border-bottom 3px dashed #E4E4E4
    line-height 90px
    &:last-child
      border-bottom none
  .cencs
    display flex
    align-items center

