.new-task
  .cost
    &__hr
      border 1px $color-grey3 dashed
  .rowcs
    padding-top: 50px;
    border-top: 1px dashed #999999;
  .w194
    width 194px
  .w400
    width 400px
  .w100
    width 100px
  
  .cell {
    display: flex;
  }