.msg-center-index
  .msg-list
    list-style-type none
    .msg-item
      background-color $color-grey5
      height 80px
      padding 20px 40px
      margin-bottom 20px
      img
        border-radius 100px
      
      &:last-child
        margin-bottom 0
  .pagination
    margin-top 20px
    float right