.other-appeal

  .header
    line-height 50px

  .task-list
    list-style-type none
    
    .task-item
      border 1px solid #eee

      &__top
        background-color $color-grey5
        line-height 50px

      &__bottom
        .btn-list
          list-style-type none

          &__item
            color #333
            padding 0px !important
            height 20px !important
            line-height 20px !important
            &:hover
              color $color-green1 !important

        .ml42
          margin-left 42px

  .pagination
    margin-top 20px
    float right
