.task-index
  .w194
    width 194px
  .header
    line-height 50px
  .menu
    display flex
    list-style-type none
  .task-list
    list-style-type none

    .task-item
      background-color $color-grey4
      height 25px
      padding 10px 10px
      margin-bottom 10px
      .toppx
        margin-top 20px
      .right-btn
        padding 0px !important
        color $color-grey1
  .el-card
    &__body
      padding 0 20px !important
    &__header
      padding 10px 20px
  .rb
    border-right 1px solid #E4E4E4
  .pagination
    margin-top 20px
    float right
