.invoice-record-card

  &__header
    &:before,
    &:after
      display table
      content ''

    &:after
      clear both
  .invoice-record-card__header
    .right-btn
      padding 0px !important
      color $color-grey1
  .el-button--text
    padding-top 0px
    padding-bottom 0px
  
  .ml60
    margin-left 60px !important