.upload-avatar
  display inline-flex

  .el-upload
    border 1px dashed $color-grey4
    border-radius 6px
    cursor pointer
    position relative
    overflow hidden
    outline none

    &-dragger
      width 180px
      height 180px
      border none

    &:hover
      border-color $color-green1
  
  .avatar
    width 180px
    height 180px
    display block
  
  .avatar-uploader-icon
    font-size 28px
    color $color-grey3
    margin 60px 0 20px
    text-align center
