.navbar
  overflow hidden
  height 60px
  background-color $color-white !important
  box-shadow 0 2px 4px -1px rgba(0,0,0,0.2), 0 4px 5px rgba(0,0,0,0.14), 0 1px 10px rgba(0,0,0,0.12)

  .menu
    display flex
    &__item
      padding 0 20px 0 0
      &:hover
        background-color $color-white !important

      &.is-active
        color $color-black1