.place-search
  .street-addr-list
    z-index 1
    position absolute
    width 100%
    margin-top 10px
    max-height 200px
    overflow auto
    box-shadow 1px 1px 10px rgba(0, 0, 0, 0.2)
        
    ul
      background-color #fff    
      list-style-type none  
      border 1px solid #eee
      // border-radius 4px
      box-shadow 1px 1px 1px rgba(0, 0, 0, 0.2)

    li
      padding 10px 20px
      border-bottom 1px solid rgba(0, 0, 0, 0.1)