/* 黑色系 */
$color-black1 = #000
$color-black2 = #23282d
$color-black3 = #333333

.bc-black1
  background-color $color-black1 !important

.bc-black2
  background-color $color-black2 !important

.bc-black3
  background-color $color-black3 !important

.color-black1
  color $color-black1 !important

.color-black2
  color $color-black2 !important

.color-black3
  color $color-black3 !important

/* 灰色系 */
$color-grey1 = #666
$color-grey2 = #999
$color-grey3 = #adadad
$color-grey4 = #ccc
$color-grey5 = #f8f8f8

.bc-grey1
  background-color $color-grey1 !important

.bc-grey2
  background-color $color-grey2 !important

.bc-grey3
  background-color $color-grey3 !important

.bc-grey4
  background-color $color-grey4 !important

.bc-grey5
  background-color $color-grey5 !important

.color-grey1
  color $color-grey1 !important

.color-grey2
  color $color-grey2 !important

.color-grey3
  color $color-grey3 !important

.color-grey4
  color $color-grey4 !important

.color-grey5
  color $color-grey5 !important

/* 白色系 */
$color-white = #fff
.color-white
  color $color-white !important

.bc-white
  background-color $color-white !important


/* 蓝色系 */
$color-blue1 = #324157
$color-blue2 = #007fff
$color-blue3 = #53d3ff

.bc-blue1
  background-color $color-blue1 !important

.bc-blue2
  background-color $color-blue2 !important

.bc-blue3
  background-color $color-blue3 !important

.color-blue1
  color $color-blue1 !important

.color-blue2
  color $color-blue2 !important

.color-blue3
  color $color-blue3 !important


/* 绿色系 */
$color-green1 = #00b16d
$color-green2 = #008e57
$color-green3 = #26aea8
.bc-green1
  background-color $color-green1 !important

.bc-green2
  background-color $color-green2 !important

.color-green1
  color $color-green1 !important

.color-green2
  color $color-green2 !important

.color-green3
  color $color-green3 !important

/* 红色系 */
$color-red1 = #F44336
.bc-red1
  background-color $color-red1 !important

.color-red1
  color $color-red1 !important

/* 橙色系 */
$color-orange1 = #FFD700
$color-orange2 = #D77F59

.bc-orange1
  background-color $color-orange1 !important

.bc-orange2
  background-color $color-orange2 !important

.color-orange1
  color $color-orange1 !important

.color-orange2
  color $color-orange2 !important

