/**
 * home
 */
@import '../../pages/home/index.styl'
// home-index
@import '../../pages/home/index/index.styl'

/**
 * account-center
 */
@import '../../pages/account/index.styl'
// account-index
@import '../../pages/account/account-index/index.styl'
// account-info
@import '../../pages/account/account-info/index.styl'
// account-safe
@import '../../pages/account/account-safe/index.styl'
// shop-manage
@import '../../pages/account/shop-manage/index.styl'
// brand-manage
@import '../../pages/account/brand-manage/index.styl'
// shipping-address-manage
@import '../../pages/account/shipping-address-manage/index.styl'
// shoot-address-manage
@import '../../pages/account/shoot-address-manage/index.styl'
// account-funds
@import '../../pages/account/account-funds/index.styl'
// account-funds-index
@import '../../pages/account/account-funds/account-funds-index/index.styl'
// account-coupon
@import '../../pages/account/account-funds/account-coupon/index.styl'
// account-transaction-record
@import '../../pages/account/account-funds/account-transaction-record/index.styl'

/**
 * user
 */
@import '../../pages/user/index.styl'
// user-index
@import '../../pages/user/index/index.styl'
// login
@import '../../pages/user/login/index.styl'
// input-phone-info
@import '../../pages/user/input-phone-info/index.styl'
// user-info
@import '../../pages/user/user-info/index.styl'
// input-user-info
@import '../../pages/user/input-user-info/index.styl'
// input-other-info
@import '../../pages/user/input-other-info/index.styl'
// forget-pwd
@import '../../pages/user/forget-pwd/index.styl'
// reset-pwd
@import '../../pages/user/reset-pwd/index.styl'
// user-info-submit-success
@import '../../pages/user/user-info-submit-success/index.styl'

/**
 * baby
 */
@import '../../pages/baby/index.styl'
@import '../../pages/baby/my-baby/index.styl'
@import '../../pages/baby/my-baby/index/index.styl'
@import '../../pages/baby/all-baby/index.styl'
@import '../../pages/baby/my-baby/details/index.styl'

/**
 * task
 */
@import '../../pages/task/index.styl'
// task-index
@import '../../pages/task/index/index.styl'
// new-task
@import '../../pages/task/new-task/index.styl'
// taskdetail
@import '../../pages/task/taskdetail/index.styl'
// new-task > common-form
@import '../../pages/task/new-task/components/common-form/index.styl'
// new-task > base-site
@import '../../pages/task/new-task/components/base-site/index.styl'
// new-task > requirement-site
@import '../../pages/task/new-task/components/requirement-site/index.styl'
// new-task > business-site
@import '../../pages/task/new-task/components/business-site/index.styl'
// new-task > task-desc
@import '../../pages/task/new-task/components/task-desc/index.styl'
// marketing-task
@import '../../pages/task/marketing-task/index.styl'
// invited-model
@import '../../pages/task/invited-model/index.styl'
// try-report
@import '../../pages/task/all-box/index.styl'
// booking-model
@import '../../pages/task/booking-model/index.styl'

/**
 * order
 */
@import '../../pages/order/index.styl'
// order-index
@import '../../pages/order/index/index.styl'
// my-order
@import '../../pages/order/my-order/index.styl'
// my-order-index
@import '../../pages/order/my-order/index/index.styl'
// my-order-details
@import '../../pages/order/my-order/details/index.styl'
// my-invoice
@import '../../pages/order/my-invoice/index.styl'
// my-invoice-index
@import '../../pages/order/my-invoice/index/index.styl'
// my-invoice-recording
@import '../../pages/order/my-invoice/recording/index.styl'
// my-invoice-setting
@import '../../pages/order/my-invoice/setting/index.styl'
// my-invoice-desc
@import '../../pages/order/my-invoice/desc/index.styl'

/**
 * msg-center
 */
@import '../../pages/msg-center/index.styl'
// msg-center-index
@import '../../pages/msg-center/index/index.styl'

/**
 * help
 */
@import '../../pages/help/index.styl'
// help-index
@import '../../pages/help/index/index.styl'

// /**
//  * trash
//  */
// @import '../../pages/trash/index.styl'
// // trash-index
// @import '../../pages/trash/index/index.styl'

/**
 * ui
 */
@import '../../pages/ui/index.styl'
// ui-index
@import '../../pages/ui/index/index.styl'
// cascader
@import '../../pages/ui/cascader/index.styl'
// slide-unlock
@import '../../pages/ui/slide-unlock/index.styl'
// card
@import '../../pages/ui/card/index.styl'
// amap
@import '../../pages/ui/amap/index.styl'
// coupon
@import '../../pages/ui/coupon/index.styl'
// menu
@import '../../pages/ui/menu/index.styl'
// address
@import '../../pages/ui/address/index.styl'
// cooperative-model
@import '../../pages/ui/cooperative-model/index.styl'
// upload-avatar
@import '../../pages/ui/upload-avatar/index.styl'

/**
 * appeal
 */
@import '../../pages/appeal/index.styl'
// appeal-index
@import '../../pages/appeal/index/index.styl'
// start-appeal
@import '../../pages/appeal/start-appeal/index.styl'
// my-order-index
@import '../../pages/appeal/start-appeal/index/index.styl'
// my-order-details
@import '../../pages/appeal/start-appeal/details/index.styl'
// appeal-manage
@import '../../pages/appeal/appeal-manage/index.styl'
// my-appeal
@import '../../pages/appeal/appeal-manage/my-appeal/index.styl'
// other-appeal
@import '../../pages/appeal/appeal-manage/other-appeal/index.styl'
